<div class="devices_">
        <div class="_tablet">
            <img src="/assets/img/tablet.jpg" class="app-img" alt="naturalrx">
        </div>
        <div class="_sp_big">
            <img src="/assets/img/bankworks.jpg" alt="bankworks" class="app-img ">
        </div>
        <div class="_sp_small">
            <img src="/assets/img/gomoto.jpg" alt="gomoto" class="app-img">
        </div>
        <div class="_tb_portrait">
                <img src="/assets/img/emed.jpg" alt="emed" class="app-img">
        </div>
    </div>