@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,900');
@import url('https://fonts.googleapis.com/css?family=Muli:200,400,900');
$green: #0ead69;
$dark: #263238;
$red: #f44336;
$purple: #540d6e;
$light: #fff;
$torquise: rgb(59, 206, 172);
$yellow: #ffd23f;
$gray: #FAFAFA;
$pink: #F50057;
html{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6 {

    font-family: 'Montserrat', sans-serif;
}
h2{
    color:$green;
}
.section-header{
    color: $green;
    text-transform: uppercase;
    font-weight: bolder;
}
@mixin gradientGreen() {
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@mixin matShadow(){
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 0;
}
@mixin deviceShadow() {
   box-shadow:  inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}
@mixin alignItems {
    align-content: center;
    justify-content: center;
    align-items: center;
}
/* GLOBALS */
.app-img{
    border:1px solid rgba(38, 50, 56, 0.1);
}
.bg-accent-green{
    background:$green;
    color:$light;
    @include matShadow;
    @include gradientGreen;
}
.button-text-link{
    color:$red;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    font-size: 1.3em;
    
    &:hover{
        text-decoration: none;
        color:$torquise;
    }
}

.g-content{
      color:$dark;
      line-height: 28px;
}
.text-color-purple{
      color:$purple;
}
.text-color-yellow{
      color:$yellow;
}
/* GLOBALS END */

#app-nav{
    z-index: 20;
    #launch {
    padding-left: 2em;
    font-family: 'Muni', sans-serif;
    font-weight: bolder;
    padding-right: 2em;
    border-radius: 2rem;
    transform: all ease .2s;
    &:hover{
        background: $purple !important;
        border-color: $purple;
    }
}
    .navbar-brand{
        color:$light !important;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
}
#mainNav{
    .nav-item{
        a{
            color:$light !important;
            font-size: 1.2em;
        }
    }
}
.main-wrapper{
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    margin-top: -4em;
}
/* MAIN HEADER */
#main-header{
    // min-height: 100vh;
    
    position: relative;
    padding: 8em 0em;
    background: #eb3349; /* fallback for old browsers */
    .bg-circle{
        z-index: 0;
        position: absolute;
        border-radius: 100%;
        background: linear-gradient(0deg,#ee0979 0,#ff6a00 100%);
    }
    .bg-circle-1{
        height: 90rem;
        width: 90rem;
        bottom: -55rem;
        left: -55rem;
    }
    .bg-circle-2{
        height: 50rem;
        width: 50rem;
        top: -25rem;
        right: -25rem;
    }
    .bg-circle-3{
        height: 20rem;
        width: 20rem;
        bottom: -10rem;
        right: 5%;
    }
    .bg-circle-4{
        height: 30rem;
        width: 30rem;
        top: -5rem;
        right: 35%;
    }
    h1{
        font-weight: bolder;
        color:$light;
    }
    p{
        font-family: 'Muli', sans-serif;
        color:$light;
        margin-top:2em;
        font-weight: 400;
        font-size: 1.2rem;
    }
    background: linear-gradient(to top left , #f44336, #eb3349); 
   
}
/* MAIN HEADER END */

/* APP ILLUSTIONS START */

.devices_{
    z-index: 20;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 829px;
    position: absolute;
    top: 100px;
    right:-250px; 
    transform: rotate(-12deg);
    ._tablet{
        width: 512px;
        height: 352px;
        border-radius: 1em;
        margin-right: 1em;
        background:#fff; 
        display: flex;
        @include deviceShadow;
        @include alignItems;        
    }
    ._sp_big{
        height: 512px;
        width: 262px;
        display: flex;
        border-radius: 1em;
        background:#fff; 
        @include deviceShadow;
        @include alignItems;
       
    }
    ._sp_small {
        width: 225px;
        height: 467px;
        display: flex;
        border-radius: 1em;
        margin-right: 2em;
        background:#fff; 
        @include deviceShadow;
        @include alignItems;
       
    }
    ._tb_portrait{
        background:#fff; 
        width: 450px;
        display: flex;
        height: 675px;
        margin-top: 50px;
        border-radius: 1em;
        @include deviceShadow;
        @include alignItems;
    }
}
/* APP ILLUSTIONS END */

#about-us-short_{
    background: $gray;
    position: relative;
    .container{
          padding-bottom: 10em;
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -140px;
        height: 100%;
        background:$light;
        transform: skew(0,-11deg);
    }
    ._description {
        font-family: 'Muli', sans-serif;
        font-size: 1.2em;
        z-index: 999;
    }
}
.add-size{
   transition:  transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 0.8s      cubic-bezier(0.86, 0, 0.07, 1);
    height: 6rem;
    width: 6rem;


}
.scale-bg{
    z-index: 999;
    transform: scale(50);

}

#portfolio-header{
    padding: 5em 0em;
    
    background: $gray;
    .project-wrapper{
        position: relative;
        min-height: 460px;
        padding: 8em 0em;
        display: flex;
        justify-content: space-around;
        .project{
            @include matShadow();
            border-radius: 100%;
            background: $light;
            position: relative;
            &.project-1{
                width: 6rem;
                height: 6rem;
                transform: translate(-30px, 2px) scale(1);
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
            }
            &.project-2{
                height: 4rem;
                width: 4rem;
                top:30px;
                transform: translate(0px, 100px) scale(1);
                background:$purple;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                    // height: 35px;
                }
            }
            &.project-3{
                height: 7rem;
                width: 7rem;
                transform: translate(0px, -120px) scale(1);
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFC400;
                img{
                    width: 80%;
                    // height: 35px;
                }
            }
            &.project-4{
                height: 7rem;
                width: 7em;
                transform: translate(0px, 50px) scale(1);
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                    // height: 35px;
                }
            }
            &.project-5{
                height: 10rem;
                width: 10rem;
                background:$red;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
                transform: translate(0px, 100px) scale(1);
            }
            &.project-6{
                transform: translate(0px, -80px) scale();
                background: $dark;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 12rem;
                width: 12rem;
            }
            &#project-6-bg{
                background: $dark;
            }

            &.project-7{
                transform: translate(0px, 120px) scale(1);
                background: #FFD740;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
                height: 8rem;
                width: 8rem;
            }
            &.project-8{
                transform: translate(0px, -80px) scale(1);                
                height: 6rem;
                width: 6rem;
                background: $pink;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
            }
            &.project-9{
                background: $dark;
                height: 8rem;
                transform: translate(-50px, 50px) scale(1);                
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
                width: 8rem;
            }
            &.project-10{
                background: #DCEDC8;
                height: 8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }               
                width: 8rem;
            }
       
        }
    }
}
#customers-first_{
      background: $gray;
      padding: 5em 0em;
      .g-content{
            color:$dark;
            font-size: 1.2rem;
      }
}

/*/Ariane/*/
#features_{
      position: relative;
     
      border-bottom: 2px solid #f6f9fc;
       [class *="col-"] {
            padding:70px 50px 70px 70px;
      }
      z-index: 99;
       [class *="col-"]:first-child {
           border-right: 2px solid #f6f9fc;
      }  
}

#customers_{
      padding: 5em 0em;
      
      .card-body{
            box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
            padding-left: 8rem;
            ._requirements{
                  &:hover{
                        color:$dark;
                  }
            }
      }
}

.footer_{
      position: relative;
      min-height: 500px;
      &::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -135px;
            z-index: -1;
            height: 100%;
            background:$gray;
            transform: skew(0,-12deg);
        }
      background: $gray;
      .copyright_{
          position: absolute;
          bottom:3rem;
          right:0;
      }
}
/*/Ariane/*/




